$color-regal_red: #964448;
$color-regal_red__darker: #843236;
$color-regal_red__light: #a45256;
$color-regal_red__lighter: #b8666a;
$color-mustard_seed: #efd598;
$color-windsor_moss: #525949;

// Easy Names
$color-red: $color-regal_red;
$color-yellow: $color-mustard_seed;
$color-green: $color-windsor_moss;

$color-light-blue: #c8e8fb;

$white: #f6f0da;
$black: #303030;
