section.section {
    display: flex;
    padding: 0;
    margin: 0;
    height: calc(100vh - #{$footer_height} - #{$header_height});
    width: 100%;
    font-size: 0;
    flex-flow: row;
    & .section__left, .section__right {
        font-size: 1rem;
    }
    & .section__left {
        display: block;
        
        height: 100%;
        max-height: 100%;
        max-width: 30%;
        width: 30%;
        
        background-color: $color-light-blue;
        border-right: 2px solid $color-red;

        overflow: auto;
    }
    & .section__right {
        display: block;

        height: 100%;
        max-width: 70%;
        width: 70%;
        padding: 10px;

        overflow-y: auto;        
        
        // background-color: $color-green;
    }
}

@media screen and (max-width: 1068px) {
    section.section {
        flex-flow: column;
        & .section__left {
            height: 35%;
            max-height: 35%;
            width: 100%;
            max-width: 100%;
            border-bottom: 2px solid $color-red;
        }
        & .section__right {
            height: 65%;
            max-height: 65%;
            width: 100%;
            max-width: 100%;
            padding: 10px 0px;
            overflow-y: auto;
            overflow-x: hidden;
            
        }
    }
}
