footer {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: $footer_height;

    text-align: center;

    background-color: $color-regal_red;
    & .footer__text {
        padding: calc((#{$footer_height} - 16px) / 2) 0px;
        line-height: 16px;
        color: $white;
        & a {
            color: $white;
        }
    }
}
@media screen and (max-width: 578px) {
    footer {
        & .footer__text {
            font-size: 0.75em;
        }
    }
}
@media screen and (max-width: 435px) {
    footer {
        height: calc(#{$footer_height} * 2);
        & .footer__text {
            padding: calc(((#{$footer_height} - 16px) * 2) / 2) 0px;
        }
    }
}
