.section__left svg {
    height: 200vh;
}

.cls-4,
.cls-6,
.cls-5 {
    fill: $color-red;
}
.cls-6 {
    stroke: $color-red;
}
.cls-2,
.cls-3 {
    fill: $white;
}

text {
    fill: $black;
}



[class*="text_"],
[class*="pin_"] {
    visibility: hidden;
}

.continent__hovered,
.continent__clicked,
.land__clicked,
.land__hovered {
    
    path,
    polygon {
        fill: $color-green;
        stroke: $color-green;
    }
    text {
        visibility: visible;
        fill: $white;
        &.island {
            fill: $black;
        }
    }
}